version: '3.9'

services:
  cart-app:
    build:
      context: cart-service
    container_name: cart-app
    environment:
      order_url: http://order-app:9091
      spring.application.name: cart-service
      OTEL_RESOURCE_ATTRIBUTES=service.name: cart-service
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      spring.sleuth.otel.config.trace-id-ratio-based: 1
      logging.level.root: info
    ports:
      - "8080:9090"

  order-app:
    build:
      context: order-service
    container_name: order-app
    environment:
      spring.application.name: order-service
      logging.level.root: info
      OTEL_RESOURCE_ATTRIBUTES=service.name: order-service
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      spring.sleuth.otel.config.trace-id-ratio-based: 1
      payment.service.url: http://payment-app:9092
      shipping.service.url: http://shipping-app:9093
    ports:
      - "8081:9091"

  payment-app:
    build:
      context: payment-service
    container_name: payment-app
    environment:
      spring.application.name: payment-service
      OTEL_RESOURCE_ATTRIBUTES=service.name: payment-service
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      spring.sleuth.otel.config.trace-id-ratio-based: 1
      logging.level.root: info
    ports:
      - "8082:9092"

  shipping-app:
    build:
      context: shipping-service
    container_name: shipping-app
    environment:
      spring.application.name: shipping-service
      OTEL_RESOURCE_ATTRIBUTES=service.name: shipping-service
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      spring.sleuth.otel.config.trace-id-ratio-based: 1
      logging.level.root: info
    ports:
      - "8083:9093"

  curl:
    image: curlimages/curl
    depends_on:
      - cart-app
    command: [ "sh", "-c", "while true; do curl -X POST 'cart-app:9090/api/cart/checkout' -H 'Content-Type: application/json' -d '{\"items\":[\"laptop\",\"mouse\"],\"totalAmount\":99.99,\"shippingAddress\":\"123 Main St, New York, NY 10001\",\"customerName\":\"John Doe\"}' ; sleep 10; done" ]

  otel-collector:
    image: otel/opentelemetry-collector:0.47.0
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ./config/collector/otel-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "1888:1888" # pprof extension
      - "13133:13133" # health_check extension
      - "4317:4317" # OTLP gRPC receiver
      - "55670:55679" # zpages extension
      - "8889:8889"
      - "8888:8888"
    depends_on:
      - jaeger-all-in-one
      - prometheus

  jaeger-all-in-one:
    image: jaegertracing/all-in-one
    environment:
      COLLECTOR_ZIPKIN_HOST_PORT: 9411
      COLLECTOR_ZIPKIN_HTTP_PORT: 9411
    ports:
      - "9411:9411"
      - "16686:16686"
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"

  prometheus:
    image: prom/prometheus:v2.29.2
    container_name: prometheus
    volumes:
      - ./config/prometheus/config.yml/:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--enable-feature=exemplar-storage"
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:8.3.3
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./config/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ORG_ROLE=Editor
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
